h1{
    /* color : rgb(255,255,255); */
    color : #ffffff;
    background-color  : black;


}
p{
    /* color : white;
   background-color :black;
 */
}
button{
    /* color : white;
    background-color: blue;
 */
}